body {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #3b3a3b;
  background-repeat: no-repeat;
  height: 1000px;
}
*{
  font-size: 18px;
  font-weight: bold;
}
#container {
  position: relative;
  margin-top: 130px;
  background-color: rgba(255, 255, 255, 0);
  width: 800px;
  height: 500px;
}
.controls:hover {
  opacity: 0;
}
.video {
  box-shadow: 0px 0px 100px 20px;
  border-radius: 20px;
  width: 100%;
}
#controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 500px;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(to right, #ff01ff,#2d0877);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 100px 20px;
}
.buttons {
  position: relative;
  top: 100%;
  left: 20px;
  width: 30px;
  padding: 10px;
  margin-right: 10px;
  transform: translateY(-100%);
}
.buttons:hover {
  cursor: pointer;
}
.slider:hover {
  cursor: pointer;
}
.slider {
  position: relative;
  left: -10px;
  top: 20px;
  width: 780px;
}
#sound-logo {
  position: relative;
  left: 20px;
}
#speed,
.sp {
  text-align: center;
  color: white;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 20px;
  top: 2.3px;
  background-color: #00000094;
  padding: 3px;
  width: 65px;
  height: 40px;
  font-size: 30px;
}
input {
  position: relative;
  bottom: 50px;
  width: 300px;
  height: 40px;
  border: white solid 2px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  outline: none;
}
input[type="range"] {
  border: white solid;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-appearance: none;
  height: 20px;
  border-radius: 11px;
}
input[type="submit"]{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to right, purple,mediumpurple);
  border: white solid;
  margin-top: 6px;
  margin-left: 2px;
  width: 100px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  color: white;
}

input[type="submit"]:hover{
  cursor: pointer;
  background-image: linear-gradient(to right, #ff01ff,#2d0877);
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ff01ff,#2d0877);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fa0000;
  cursor: pointer;
}
#volume{
    border: #ffffff solid 3px;
    position: absolute;
    top: 0px;
    width: 150px;
}
#soundbar{
    position: relative;
    left: 20px;
    bottom: -4px;
    background-color: none;
    width: 160px;
    height: 40px;
}